<% i = 0 %>
<% rating = 0 %>
<% Review.where("friend_id = ?", friend.id).find_each do |review| %>
<% rating += review.rating.to_i %>
<% i += 1 %>
<% end %>
<% if i > 0 %>
<% rating = rating/i %>
<% end %>
<%= link_to friend_path(friend) do %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path friend.avatar_x, height: 300, width: 400, crop: :fill %>')">
  <div class="card-name">
    <h4><%= link_to friend.name, friend_path(friend) %></h4>
    <p> owned by <%= friend.user.name%></p>
  </div>
  <div class="card-description">
    <p><%=friend.price%></p>
  </div>
  <div class="card-user">
    <% if friend.avatar != nil %>
      <% if friend.avatar.path != nil %>
        <%= cl_image_tag friend.avatar.path %>
      <% elsif friend.avatar_x != nil %>
        <%= image_tag friend.avatar_x %>
      <% end %>
      <% end %>
    </div>
    <div class="card-distance">
      <p> 3km </p>
    </div>
    <div class="card-rating">
      <% if rating > 0 %>
        <%= rating %>
      <% end %>
      <!-- mettre un else plus tard pour griser les étoiles  -->
    </div>
    <a class="card-link" href="<%= friend_path(friend)%>" ></a>
  </div>
  <%end%>

