<div class="container col-md-12" id="new_friend_form">
<h1>Add a new friend</h1>
<div class="col-md-6 col-md-offset-3">
<%= simple_form_for @friend do |f| %>
<%= render 'error_messages', object: f.object %>
<p><%= f.label :name, "Your friend's name" %>
<%= f.text_field :name %></p>

<P><%= f.label :price, "Your friend's price" %>
<%= f.text_field :price %></p>
<p><%= f.label :description, "Describe your friend with few words" %>
<%= f.text_field :description %></p>

<%# f.label :address, "Where does your friend lives?" %>
<%# f.text_field :address %>

<p><%= f.input :activity_id, collection: Activity.all, prompt: "usage of the friend" %></p>

<%#= f.input :avatar, as: :attachinary, required: false %>

<%= f.input :address %>
<%= f.input :city %>
<div id="pictureattach"><p><%= f.input :avatar, as: :attachinary, required: false %></p>


<p><%= f.input :pictures, as: :attachinary %></p>

</div>

<p><%= f.button :submit, "Add your friend to rent"%></p>
<% end %>
</div>
</div>
