<div id="searchres">
  <div id="mapbar">
  <div id="map" style="width: 100%; height: 600px;"></div>
  <div id="searchfine">
   <%= simple_form_for :search, url: friends_path, method: :get, class: "form-horizontal" do |f| %>
    <div class="col-md-12">
      <%= f.input :city, placeholder: "City" , label: false %>
    </div>
    <div class="col-md-6">
      <%= f.input :activity_id, collection: Activity.all, prompt: "usage of the friend" , label: false %>
    </div>
    <div class="col-md-6">
      <%= f.submit type: 'submit', class: "btn btn-block" do %>
      <% end %>
    </div>
    <%end%>
  </div>
  </div>
  <div class="container">
    <div class="searchbar col-sm-12">
    </div>
    <div class="row" id="cards">
      <% @friends.all.each do |friend| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", friend: friend %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      console.log(<%= raw @hash.to_json %>);
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
