
<div class="container" id="friends_show">
  <div class="col-md-3 col-md-offset-1" id="friends_left">
    <% Review.where("friend_id = ?", @friend.id).find_each do |review| %>
      <p>rating: <%=review.rating%> <%=review.comment%></p>
      <p>review by: <%=review.user.name%></p>
    <% end %>
    <% booked = 0 %>
    <% @bookings.each do |booking| %>
      <% if booking["friend_id"] == @friend.id && booking["status"] == "accepted" %>
        <% booked = 1 %>
      <% end %>
    <% end %>
    <% if user_signed_in? && booked == 1%>
      <%= render 'review_form' %>
    <% end %>
  </div>
  <div class="col-md-4" id="friends_mid">
    <% if @friend.avatar != nil %>
      <%= cl_image_tag @friend.avatar.path %>
    <% end %>
    <h1><%= @friend.name%>'s profile</h1>
  </div>
  <div class="col-md-3" id="friends_right">
    <p>owner: <%=@friend.user.name%></p>
    <p>price: <%=@friend.price%>€</p>
    <% if user_signed_in? %>
      <% @bookings.each do |booking| %>
        <% if booking["friend_id"] == @friend.id %>
          <%= "You have booked this friend from #{booking["start_date"]} to #{booking["end_date"]}" %>
          <% if booking["status"] == "pending" %>
            <%= "Your reservation is still #{booking["status"]}." %>
          <% else %>
            <%= "Your reservation has been #{booking["status"]}." %>
          <% end %>
        <% end %>
      <% end %>
      <div >
          <%= render 'booking_form' %>
        </div>
    <% end %>
  </div>
</div>
<div id="friends_slideshow">
  <p> a bunch of photos </p>
</div>
