<h1><%= @friend.name%>'s profile</h1>
<%= image_tag("#{@friend.avatar}") %>
<p>owner: <%=@friend.user.name%></p>
<p>price: <%=@friend.price%>€</p>
<% @friend.reviews.each do |review| %>
<p>rating: <%=review.rating%> <%=review.comment%><p>
<p>review by: <%=review.user.name%><p>

<% end %>

