<h1>Bookings#show</h1>
<p><%= @booking.start_date %></p>
<p><%= @booking.end_date %></p>
<P><%= @booking.friend.name %> </P>
<P>rented by <%= @booking.user.name %></P>
<p> for <%= @booking.friend.price %> €</p>
