<div id="dashboard">
  <div class="col-md-3" id="profilebar">
    <div id="profile">
    <% if current_user.avatar != nil %>
      <% path = current_user.avatar.path.sub(/v\d*/, 'w_150,h_150,c_thumb,r_max') %>
      <%= cl_image_tag path %>
    <% elsif current_user.facebook_picture_url != nil %>
      <img src="<%= cl_image_path current_user.facebook_picture_url %>">
    <% else %>
      <img src="http://bigpicturesb.net/wp-content/uploads/2011/11/generic-profile-pic.png">
    <% end %>
<P><%= current_user.name %></P>
<p><%= current_user.email %></p>
<p>You have <%= current_user.friends.count %> listed friends</p>
    </div>
    <%= link_to "edit profile", edit_user_registration_path %>
  </div>
  <div id="friendcards">
  <% if @my_friends.empty? %>
  <p> you do not have any poto's yet. <%= link_to "add ton poto" , new_friend_path %> </p>
  <%else%>
  <% @my_friends.each do |friend| %>
  <%= render "friends/card", friend: friend %>
  <% end %>
  <%end%>

  <%= link_to friend_path(friend) do %>
<% if friend.avatar != nil %>
  <% path = friend.avatar.path %>
<% elsif friend.avatar_x != nil %>
  <% path = friend.avatar_x %>
<% else %>
<% path = "http://bigpicturesb.net/wp-content/uploads/2011/11/generic-profile-pic.png" %>


  <%= link_to "add ton poto" , new_friend_path %>
  <div id="bookings">
  <% if @my_bookings.empty? && @others_bookings.empty? %>
  <h1>You do not have any booking activity..yet!<h1>
  <%else%>
    <% @my_bookings.each do |booking| %>
      <div class="booking">
        <img class="avatar-large" src="<%= cl_image_path path %>">
        <div class="friend-name">
          <h3><%= booking.friend.name %></h3>
        </div>
        <div class="booking-body">
          <p><strong><%= booking.start_date %> to <%=booking.end_date %></strong></p>
        </div>
        <div class="booking-status">
          <p class="status pending">
            <%= booking.status %>
          </p>
          <% if booking.status != "rejected" %>
            <%= link_to "Cancel booking", friend_booking_path(booking.friend, booking), method: :delete %>
          <% end %>
          <p class="price">€<%= booking.friend.price %></p>
          <%= "owned by" + booking.friend.user.name %>
        </div>
      </div>
    <% end %>
    <% @others_bookings.each do |booking| %>
      <div class="booking">
        <img class="avatar-large" src="<%= cl_image_path path %>">
        <div class="friend-name">
          <h3><%= booking.friend.name %></h3>
        </div>
        <div class="booking-body">
          <p><strong><%= booking.start_date %> to <%=booking.end_date %></strong></p>
        </div>
        <div class="booking-status">
          <p class="status pending">
            <% if booking.status == "pending" %>
              <%= "Still" %>
            <% else %>
              <%= "You have " %>
            <% end %>
            <%= booking.status %>
            <% if booking.status != "pending" %>
              <%= " this booking" %>
            <% end %>
          </p>
          <p class="price">€<%= booking.friend.price %></p>
          <%= "requested by " + booking.user.name %>
          <% if booking.status == "pending" %>
            <%= link_to "accept", accept_booking_path(id: booking.id), method: :post %>
            <%= link_to "decline", reject_booking_path(id: booking.id), method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>
